<footer>
    <div class="info-column">
        <h2>Contato</h2>
            <li>email&#64;email.com</li>
            <li>(73) 99999-9999</li>
            <li>&#64;instagram</li>
    </div>
    <div class="info-column">
        <h2>Colaboradores</h2>
            <li>Joao da Silva</li>
            <li>Maria de Lurdes</li>
            <li>Tiago Almeida</li>
        <h2>Cordenador(a) do Projeto</h2>
            <li>Nome da Professora</li>
    </div>
    <img src="../../../assets/images/png/logo-pank-sem-borda.png" alt="">

</footer>