footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    gap: 2rem;
    background: rgba(255, 255, 255, 0.17);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);

    .images{
        img{
            width: 40%;
            object-fit: contain;
        }
    }

    h2{
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .info-container{
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 3rem;
        .info-column{
            li{
                list-style: none;
                margin-left: 8px;
                a {
                    color: rgb(90, 90, 90);
                    display: flex;
                    gap: 4px;
                    text-decoration: none;
                }

                a:hover{
                    transform: translate    (0px, -3px);
                }

                
            }
            .ifbaiano-info{
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;

                a{
                    color: rgb(90, 90, 90);
                    display: flex;
                    gap: 4px;
                    text-decoration: none;

                    img{
                        width: 2rem;
                        margin-bottom: 4px;
                    }
                }
                
             }
        }
    }
}

@media (max-width: 768px) {
    footer{
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 1rem;
        gap: 0;

        .info-container{
            justify-content: space-between;
            gap: 6px;
            
            .info-column{

                li{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    text-wrap: wrap;
                    height: auto;

                    a{
                        width: 185px;
                        text-wrap: wrap;
                    }
                }
                .ifbaiano-info{
                    text-wrap: wrap;

                    a{
                        width: 185px;
                        text-wrap: wrap;
                        margin-bottom: 4px;
                    }
                }
            }
        }

        .images{
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;

            img{
                width: 50%;
            }
        }
    }
}