<header>
    <div class="content-header">
        <div class="how-is-panc">
            <div class="content-panc">
                <h2>O que é panc?</h2>
                <p>
                    A sigla PANC significa “Plantas Alimentícias Não Convencionais” termo criado em 2008 pelo biólogo, botânico e professor Valdely Ferreira Kinupp. <br/>
                    As PANC são plantas que não estão incluídas em nosso cardápio cotidiano e não são comumente comercializadas, como a taioba, a palma forrageira, a moringa, etc. Também são consideradas PANC as "Partes Comestíveis Não Convencionais", como o coração da  bananeira, o caule e folhas da beterraba, etc. <br/>
                As PANC muitas vezes são consideradas mato, crescem espontaneamente e quando cultivadas não são plantas exigentes. São alimentos potencialmente nutritivos, possibilitam a diversificação alimentar, além de resgatar a identidade cultural de alimentos usados por povos tradicionais e que foi se perdendo com o tempo.
                </p>
            </div>
        <img ngSrc="/assets/images/png/logo-pank-sem-borda.png" width="250" height="250" alt="">
        </div>
        
        <h2>Como identificar e consumir?</h2>
        <div class="how-consume">
            <p>  
                Identificar corretamente a  espécie comestível e conhecer sua forma de consumo é  fundamental para garantir uma alimentação segura. <br/>
                A semelhança de algumas espécies podem confundir na identificação. Veja o exemplo da folha de inhame (não comestível) e da taioba mansa (comestível). <br/>
                Algumas PANC só podem ser consumidas após cozimento, pois substâncias tóxicas, são destruídas com o calor, deixando o alimento seguro. O cozimento também faz com que as folhas mais rígidas, fiquem macias e saborosas.
            </p>
            <img src="../../../assets/images/png/taioba-inhame.png" alt="">
        </div>
    </div>
    
</header>