header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    padding: 1rem;
    color: white;
    background: none;
    /* From https://css.glass */
    // background: rgba(255, 255, 255, 0.17);
    // border-radius: 16px;
    // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    // backdrop-filter: blur(5.7px);
    // -webkit-backdrop-filter: blur(5.7px);
    // border: 1px solid rgba(255, 255, 255, 0.34);

    width: 90%;


    h2{
        background: none;
        margin-bottom: 1rem;
    }

    p{
        background: none;
        width: 80%;
        margin-left: 1rem;
    }
    .how-is-panc{
        display: flex;
        align-items: center;
        .content-panc{
            display: flex;
            flex-direction: column;
        }

        img{
            width: 100%;
            border-radius: 24px;
            background: rgba(255, 255, 255, 0.17);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5.7px);
            -webkit-backdrop-filter: blur(5.7px);
            border: 1px solid rgba(255, 255, 255, 0.34);
            object-fit: contain;
        }
    }

    
    

    .content-header{
        color: black;
        background: none;
        display: flex;
        flex-direction: column;
        width: 30rem;
        text-wrap: wrap;
        flex-grow: 1;
        gap: 8px;
        margin-left: 3rem;

        .how-consume{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        img {
            width: 50%;
        }
        
    }

    
}

@media (max-width: 768px) {
    header{
        padding: 0;

    .content-header{
            color: black;
            background: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 80%;
            text-wrap: wrap;
            flex-grow: 1;
            margin-left: 0;
        
    .how-is-panc{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        text-align: justify;
        .content-panc{
            display: flex;
            flex-direction: column;
            p{
                width: 100%;
                padding: 0;
                margin: 0;
            }
        }

        img{
            margin: 1rem 0;
            width: max-content;
        }
}


    .how-consume{
        width: 80%;
        display: flex;
        flex-direction: column;
        

        img{
            width: 120%;
        }
        p{
            width: 100%;
            padding: 0;
            margin: 0;
        }

        padding: 0;
        margin: 0;
    }
    
}
}

}