header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    padding: 1rem;
    color: white;
    background: none;
    /* From https://css.glass */
    // background: rgba(255, 255, 255, 0.17);
    // border-radius: 16px;
    // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    // backdrop-filter: blur(5.7px);
    // -webkit-backdrop-filter: blur(5.7px);
    // border: 1px solid rgba(255, 255, 255, 0.34);

    width: 90%;

    h2{
        background: none;
        margin-bottom: 1rem;
    }

    p{
        background: none;
        width: 80%;
        margin-left: 1rem;
    }
    .how-is-panc{
        display: flex;
        .content-panc{
            display: flex;
            flex-direction: column;
        }
        .bg-img{
            padding: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 3rem;
            background: rgba(255, 255, 255, 0.17);
            border-radius: 100%;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5.7px);
            -webkit-backdrop-filter: blur(5.7px);
            border: 1px solid rgba(255, 255, 255, 0.34);
    }
        img{
            width: max-content;
            display: flex;
            background: none;
            object-fit: cover;
            border-radius: 14px;
        }
    }
    

    .content-header{
        color: black;
        background: none;
        display: flex;
        flex-direction: column;
        width: 30rem;
        text-wrap: wrap;
        flex-grow: 1;
        gap: 8px;
        margin-left: 3rem;

        .how-consume{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
    }

    
}

@media (max-width: 768px) {
    header{
        flex-direction: column;
        justify-content: center;
        .bg-img{
            margin-right: 0;          
        }
        
        .content-header{
            justify-content: center;
            align-items: center;
            margin-left: 0;
            

            p{
                font-size: 14px;
                text-align: justify;
                padding: 10px;
                width: 80%;
            }
        }
    }
}