
.card-container{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    background: none;
    margin: 0 auto;
    margin-top: 24px;
    padding: 1rem;
    

    ul{
        background: none;
    }
}

.controls ::ng-deep {
    background: none !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    color: grey;

    pagination-template{
        background: none !important;
    }

    nav{
        background: none !important;
    }

    a{
        background: none;
    }

    span{
        background: none !important;
    }

    ul, .ngx-pagination{
        background: none;

        li{
            background: none;
            cursor: pointer;

            &.disabled{
                color: grey(151, 151, 151);
                background: none;
            }

            &.pagination-previous,&.pagination-next {
                a{

                    color: grey;
                }
            }

            a{
                background: none;
                color: rgb(151, 151, 151);
            }
        }

        .current{
            color: grey !important;
        }
    }
}

.modal-container{
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px #333;
  min-width: 80%;
  position: fixed;
  left: 50%;
  padding: 24px;
  top: 50%;
  transform: translate(-50%, -50%);

  .button{
    display: flex;
    justify-content: end;
    button, button::before, button::after, button:hover, button:focus{
        width: min-content;
        background: none;
        border: none;
      }
  }

  .modal-about{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .modal-infos{
        span{
            font-weight: bold;
        }

        p{
            margin-top: 2rem;
            font-size: 14px;
        }
    }

  }
}