
.card-container{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    background: none;
    margin: 0 auto;
    margin-top: 24px;
    padding: 1rem;
    

    ul{
        background: none;
    }
}

.controls ::ng-deep {
    background: none !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    color: grey;

    pagination-template{
        background: none !important;
    }

    nav{
        background: none !important;
    }

    a{
        background: none;
    }

    span{
        background: none !important;
    }

    ul, .ngx-pagination{
        background: none;

        li{
            background: none;
            cursor: pointer;

            &.disabled{
                color: grey(151, 151, 151);
                background: none;
            }

            &.pagination-previous,&.pagination-next {
                a{

                    color: grey;
                }
            }

            a{
                background: none;
                color: rgb(151, 151, 151);
            }
        }

        .current{
            color: grey !important;
        }
    }
}