
<div class="input-container">
    <div class="input-search" data-aos="zoom-in"  data-aos-duration="2000">
        <input type="text" placeholder="Pesquisa" [(ngModel)] = "searchName">
        <button type="submit" (click)="onSearch()"><img ngSrc="assets/icons/lupa.svg" width="20" height="20" alt=""></button>
    </div>
</div>

<div class="card-container" data-aos="zoom-in"  data-aos-duration="2500">
    <h2>Galeria <br/> de Fotos</h2>
    <ul *ngFor="let plant of plantsFiltred | paginate: { itemsPerPage: 15, currentPage: p}">
        <app-card [plantName]="plant.nome_cientifico" (cardClick)="openModal(viewTemplate,$event)"></app-card>
    </ul>
</div>
    <pagination-controls class="controls" (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Proximo"></pagination-controls>


<!--Modal-->

<ng-template #viewTemplate>
    <section class="modal-container">
           <div class="button"> <button (click)="closeModal()"><img src="../../../assets/icons/xmark-solid.svg" alt="close" style="width: 20px;"></button></div>
        <div class="modal-about">
            @if(plant){
                <img src="../../../assets/images/png/logo-pank-sem-borda.png" alt="logo">
                <div class="modal-infos">
                    <h2>{{plant.nome_cientifico}}</h2>

                    <li>
                        <span>Nome Popular:</span>
                        <p>{{plant.nome_planta}}</p>
                    </li>
                    <li>
                        <span>Característica:</span>
                        <p>{{plant.caracteristica}}</p>
                    </li>
                    <li>
                        <span>Formas de consumo:</span>
                        <p>{{plant.formas_consumo}}</p>
                    </li>
                    <li>
                        <span>Partes Comestiveis:</span>
                        <p>{{plant.partes_comestiveis}}</p>
                    </li>
                </div>
            }
        </div>
    </section>
</ng-template>