
<div class="card-container">
    <ul *ngFor="let plant of plantsFiltred | paginate: { itemsPerPage: 16, currentPage: p}">
        <app-card [plantName]="plant.nome_planta" (cardClick)="openModal(viewTemplate,$event)"></app-card>
    </ul>
</div>
    <pagination-controls class="controls" (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Proximo"></pagination-controls>


<!--Modal-->

<ng-template #viewTemplate>
    <section class="modal-container">
           <div class="button"> <button (click)="closeModal()"><img src="../../../assets/icons/xmark-solid.svg" alt="close" style="width: 20px;"></button></div>
        <div class="modal-about">
            @if(plant){
                <img src="../../../assets/images/png/logo-pank-sem-borda.png" alt="logo">
                <div class="modal-infos">
                    <span>Nome Popular: </span>{{plant.nome_planta}} <br/>
                    <span>Nome Científico: </span>{{plant.nome_cientifico}}
                    <p>{{plant.descricao}}</p>
                </div>
            }
        </div>
    </section>
</ng-template>