<!-- <router-outlet /> -->
<!-- <app-navbar></app-navbar> -->
<!-- <app-header></app-header> -->
<!-- <img src="../assets/images/png/hibisco.png" class="hibisco" alt=""> -->
<!-- <app-card-bar></app-card-bar> -->
<!-- <img src="../assets/images/png/asa-de-dragao.png" class="asa-de-dragao" alt=""> -->
<!-- <img src="../assets/images/png/clitoria.png" class="clitoria" alt=""> -->
<!-- <img src="../assets/images/png/calendula.png" class="calendula" alt=""> -->


<!-- <app-footer></app-footer> -->

<div class="main-wrap">
    <div class="bg-left"></div>
    <div class="bottom-bg"></div>
    <div class="right-bg"></div>
    <div class="top-bg"></div>
    <router-outlet />
    <app-navbar></app-navbar>
    <app-header></app-header>
    <app-card-bar></app-card-bar>
    <app-faq></app-faq>
    <app-footer></app-footer>
</div>

