.main-wrap{
    position: relative;
    .bg-left{
        width: 35%;
        height: 100%;
        position: absolute;
        background: url("../assets/images/png/left-bg.png") repeat-y;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0.5;
        background-size: contain;
    }
    .bottom-bg{
        width: 100%;
        height: 12%;
        position: absolute;
        background: url("../assets/images/png/bottom-bg.png") no-repeat;
        background-position: bottom center;
        bottom: 0;
        left: auto;
        right: auto;
        z-index: -2;
        opacity: 0.5;
        background-size: contain;
    }
    .right-bg{
        width: 35%;
        height: 100%;
        position: absolute;
        background: url("../assets/images/png/right-bg.png") repeat-y right;
        top: 0;
        right: 0;
        z-index: -1;
        opacity: 0.5;
        background-size: contain;
    }
    .top-bg{
        width: 100%;
        height: 10%;
        position: absolute;
        background: url("../assets/images/png/top-bg.png") no-repeat right left;
        top: 0;
        z-index: -1;
        opacity: 0.5;
        background-size: contain;
    }
}
.hibisco{
    position: absolute;
}

.asa-de-dragao{
    position: absolute;
    right: -20vw;
    top: 90vh;
    z-index: -1;
}

.clitoria{
    position: absolute;
    left: -15vw;
    top: 130vh;
    z-index: -1;
    rotate: -120deg;
}

.calendula{
    position: absolute;
    right: -10vw;
    top: 150vh;
    z-index: -1;
    rotate: -15deg;
}

@media (max-width: 768px) {
    .asa-de-dragao{
        position: absolute;
        right: -50vw;
        top: 250vh;
        z-index: -1;
    }

    .clitoria{
        position: absolute;
        left: -40vw;
        top: 460vh;
        z-index: -1;
        rotate: -120deg;
    }

    .calendula{
        position: absolute;
        right: -30vw;
        top: 650vh;
        z-index: -1;
        rotate: -15deg;
    }
}