<article>
    <details>
        <summary><h2>O que é panc?</h2></summary>
        <p>
            A sigla PANC significa “Plantas Alimentícias Não Convencionais” termo criado em 2008 pelo biólogo, botânico e professor Valdely Ferreira Kinupp. <br/>
            As PANC são plantas que não estão incluídas em nosso cardápio cotidiano e não são comumente comercializadas, como a taioba, a palma forrageira, a moringa, etc. Também são consideradas PANC as "Partes Comestíveis Não Convencionais", como o coração da  bananeira, o caule e folhas da beterraba, etc. <br/>
           As PANC muitas vezes são consideradas mato, crescem espontaneamente e quando cultivadas não são plantas exigentes. São alimentos potencialmente nutritivos, possibilitam a diversificação alimentar, além de resgatar a identidade cultural de alimentos usados por povos tradicionais e que foi se perdendo com o tempo.
        </p>
    </details>
    <details>
        <summary><h2>Como identificar e consumir?</h2></summary>
        <div class="how-consume">
            <p>  
                Identificar corretamente a  espécie comestível e conhecer sua forma de consumo é  fundamental para garantir uma alimentação segura. <br/>
                A semelhança de algumas espécies podem confundir na identificação. Veja o exemplo da folha de inhame (não comestível) e da taioba mansa (comestível). <br/>
                Algumas PANC só podem ser consumidas após cozimento, pois substâncias tóxicas, são destruídas com o calor, deixando o alimento seguro. O cozimento também faz com que as folhas mais rígidas, fiquem macias e saborosas.
            </p>
            <img src="../../../assets/images/png/taioba-inhame.png" alt="">
        </div>
    </details>
    <details>
        <summary><h2>Quais consumir in natura?</h2></summary>
        <li>Araçá-boi</li>
        <li>Azedinha</li>
        <li>Beldroega</li>
        <li>Bertalha</li>
        <li>Capuchinha</li>
        <li>Caruru</li>
        <li>Dente-de-leão</li>
        <li>Ora-pro-Nóbis</li>
        <li>Serralha</li>
    </details>
    <details>
        <summary><h2>Quais consumir cozida?</h2></summary>
        <li>Celósia</li>
        <li>Coração de baneira</li>
        <li>Lingua-de-vaca</li>
        <li>Moringa</li>
        <li>Peixinho</li>
        <li>Picão-preto</li>
        <li>Serralha</li>
        <li>Taioba mansa</li>
        <li>Tanchagem</li>
        <li>Trapoeraba</li>
        <li>Urtiga</li>
    </details>
</article>