article{
    width: 90%;
    padding: 2rem;
    margin: 1rem auto;
            h2{
                border-bottom: 1.5px solid grey;
                margin-bottom: 2rem;
            }
            
            
        
        p{
            margin-left: 1rem;
            font-size: small;
        }
    }
